.cajaCarrito {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: end;
    width: auto;
    height: auto;
    top: 10px;
    color: rgb(163, 116, 116);
    font-size: 25px;
}

.fa-solid {
    font-size: 25px;
    padding: 10px;
    color: rgb(163, 116, 116);
    cursor: pointer;
}

.fa-solid:hover {
    color: rgba(255, 0, 0, 0.363);
    transition: 1s;
}